{# empty Twig template #}
<div class="footer-distributed">

    <div class="footer-right">

        <a href="#"><i class="fa fa-facebook">
                <img class="img-responsive"  alt="Facebook Gael" id="imagePrincipal" src="{{asset('images/facebook.png')}}" alt>
            </i></a>
    </div>

    <div class="footer-left">
        <p class="footer-links">
            <a href="#">Accueil</a>
            ·
            <a href="#">Articles</a>
            ·
            <a href="#">Boutiques</a>
            
        </p>

        <p>GAEL &copy; 2017</p>
    </div>

</div>